run = "npm run dev"
entrypoint = "src/main.jsx"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "npm run dev"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5173
externalPort = 80